 <!-- <h3>Two-Way Binding Example</h3>

  <input type="text" [(ngModel)]="name" class="form-control" placeholder="Enter your name" />

  <p class="mt-2">Hello, {{ name }}!</p> -->

  <!-- <h3>Two-Way Binding Example</h3>

  <input type="text" [(ngModel)]="name" class="form-control" placeholder="Enter your name" />
  <button class="btn btn-primary" (click)="printName()">Print Name</button>

  <p class="mt-2">Hello, {{ name }}!</p> -->

  <!-- <h3>List of Names</h3>

<ul>
  @for (n of names; track $index) {
    <li>{{ n }}</li>
  }
</ul> -->
<!-- <app-country-list></app-country-list> -->

<!-- <h3>Color Picker with switch</h3>

<select [(ngModel)]="color">
  <option value="red">Red</option>
  <option value="green">Green</option>
  <option value="blue">Blue</option>
  <option value="black">Black</option>
  <option value="default">Default</option>
</select>

<br><br>

@switch (color) {
  @case ("red") {
    <p style="color:red;">This text is Red!</p>
  }
  @case ("green") {
    <p style="color:green;">This text is Green!</p>
  }
  @case ("blue") {
    <p style="color:blue;">This text is Blue!</p>
  }
  @case ("black") {
    <p style="color:black;">This text is Black!</p>
  }
  @default {
    <p style="color:gray;">Please select a color.</p>
  }
} -->

<!-- <app-searchfilter></app-searchfilter> -->

<app-home></app-home>