<!-- <app-display-list></app-display-list> -->
 
<!-- <p [ngClass]="'redText'">
  This text is red and bold (using string).
</p>

 
<p [ngClass]="['redText', 'bigFont']">
  This text is red, bold, and big (using array).
</p>

 
<p [ngClass]="{'redText': true, 'bigFont': true}">
  This text is red, bold, and big (using object).
</p>

 
<p [ngClass]="{'redText': isRed, 'bigFont': isBig}">
  This one depends on TypeScript variables.
</p> -->

<!-- <app-ex3-demo></app-ex3-demo> -->

<!-- <app-ex4-style-demo></app-ex4-style-demo> -->

<app-home></app-home>
